In [2]:
import numpy as np
import pandas as pd

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [14]:
df=pd.read_csv('covid_toy.csv')

In [16]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [18]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [22]:
df=df.dropna()

In [24]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
X_train,y_train,X_test,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.3)

In [38]:
X_train

    age  gender  fever   cough       city
64   42    Male  104.0    Mild     Mumbai
89   46    Male  103.0  Strong  Bangalore
34   74    Male  102.0    Mild     Mumbai
79   48  Female  103.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
61   81  Female   98.0  Strong     Mumbai
27   33  Female  102.0  Strong      Delhi
52   47  Female  100.0  Strong  Bangalore
77    8  Female  101.0    Mild    Kolkata
63   10    Male  100.0    Mild  Bangalore

[63 rows x 5 columns]

In [42]:
from sklearn.compose import ColumnTransformer

In [46]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [48]:

transformer.fit_transform(X_train).shape

(63, 7)